div {
    width: 200px;
    height: 200px;
    background-color: #222;
    position: absolute;
}

div:nth-child(1) {
    top: 0;
    left: 0;
}

div:nth-child(2) {
    top: 0;
    right: 0;
}

div:nth-child(3) {
    bottom: 0;
    left: 0;
}

div:nth-child(4) {
    bottom: 0;
    right: 0;
}